/.idea
/data/dbs
/data/sht/G-ELM
/data/sht/NG-ELM
*.pyc
.ipynb_checkpoints/Marking system-checkpoint.ipynb
shtReader_py/shtRipper/__pycache__/__init__.cpython-311.pyc
shtReader_py/shtRipper/__pycache__/shtRipper_entry.cpython-311.pyc
/img
/.ipynb_checkpoints
/reports/.ipynb_checkpoints
/shtReader_py/shtRipper/__pycache__
/reports/old reports
/data/sht/select
/data/df/stats/.ipynb_checkpoints
/data/df/marks/.ipynb_checkpoints
/source/.ipynb_checkpoints
Untitled.ipynb
/data/sht/all
